<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB29V227Is7w1NRRgIRDr8I4dvRaOK24T0</string>
	<key>GCM_SENDER_ID</key>
	<string>437995513131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dplone.finderMed</string>
	<key>PROJECT_ID</key>
	<string>med-finder-d8ddb</string>
	<key>STORAGE_BUCKET</key>
	<string>med-finder-d8ddb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437995513131:ios:ee4ab5c2be0e536925516e</string>
</dict>
</plist>